@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,300;1,500;1,700&display=swap');

*{
    -webkit-font-smoothing: antialiased;


}
  
  p {
    font-family: 'MyFont', sans-serif;
  }
body {
    margin: 0;
    font-family: monospace;
    scroll-behavior: smooth;
    color: white;
}

canvas {
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
}




.wrapper{
    height: 300vh;
    background-color: rgb(255, 255, 255);

}


 p,h1{
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-kerning: none;

    
}

.placeholder{
    height: 60vh;
    background-color: rgba(255, 0, 191, 0);



}

.vidbutton{
    display: none;
    border: none;
    outline: none;
    padding: 8px 16;

}

.vidbutton-shown{
    display:flex;
}

.vidbutton-wrapper{
    position: fixed;
    bottom: 10px; 
    z-index: 10000;
    display: flex; 
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    width: 100vw;

}


